<% provide(:title, "Privacidad | ") %>

<% provide(:title, "Acerca de | ") %>

<section id="main" class="container 80%" style="margin-top: 3em !important;">
		<header>
			<h2>Aviso de privacidad</h2>
			<p>Tus datos están seguros con nosotros</p>
		</header>
			<div class="row">
				<div class="12u">
							<!-- Text -->
					<section class="box">
						
						<p>La empresa <strong>BICIMENSAJERO</strong>, utilizará sus datos personales recabados con los siguientes fines:  Marketing, fiscales, para realizar cobros, para la emisión de facturas, para la realización de envíos.  Para mayor información sobre el tratamiento de sus datos personales usted puede solicitar copia de contrato a 
							<%= mail_to "ollin@bicimensajero.com", "ollin@bicimensajero.com", bcc: "amo@bicimensajero.com" %>
						  
						</p>

					</section>

				</div>
			</div>
</section>