<% provide(:title, "Editar cuenta | ") %>
<h1>Actualiza tu perfil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirma" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @usuario %>
      <a href="http://gravatar.com/emails" target="_blank">Cambiar imagen</a>
    </div>
  </div>
</div>