<% provide(:title, "Usuarios | ") %>

<h1>Estos son todos nuestros usuarios</h1>

<%= will_paginate %>

<ul class="users">
  <% @usuarios.each do |usuario| %>
  	<ul>
	    <li>
	      <%= gravatar_for usuario %>
	      <%= link_to usuario.nombre, usuario %>
	       <% if current_usuario.admin? && !current_usuario?(usuario) %>
    		| <%= link_to "Borrar", usuario, method: :delete,
                                  data: { confirm: "Seguro?" } %>
  			<% end %>

	    </li>
    </ul>
  <% end %>
</ul>

<%= will_paginate %>
