<h1>Bicimensajero</h1>

<p>Que onda, <%= @usuario.nombre %>:</p>

<p>
Te damos la bienvenida a los servicios de Bicimensajero, por favor haz click en el siguiente link para activar tu cuenta:
</p>

<%= link_to "Activar", edit_account_activation_url(@usuario.activation_token,
                                                    email: @usuario.email) %>